body{
    background:#f4f6f9;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.sidebar{
    padding-top:20px;
}

.sidebar .nav-link{
    padding:12px 20px;
    transition:.3s;
}

.sidebar .nav-link:hover{
    background:#0d6efd;
    color:#fff;
}

.card{
    border:none;
    border-radius:12px;
}

.card h2{
    font-weight:bold;
}

footer{
    margin-top:30px;
}