<div class="col-md-2 bg-dark sidebar min-vh-100">

    <div class="pt-4">

        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link text-white"
                   href="/">
                    <i class="bi bi-speedometer2"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white"
                   href="#">
                    <i class="bi bi-building"></i>
                    Schools
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white"
                   href="#">
                    <i class="bi bi-people"></i>
                    Students
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white"
                   href="#">
                    <i class="bi bi-person-badge"></i>
                    Teachers
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white"
                   href="#">
                    <i class="bi bi-book"></i>
                    Academics
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white"
                   href="#">
                    <i class="bi bi-cash-stack"></i>
                    Finance
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white"
                   href="#">
                    <i class="bi bi-bar-chart"></i>
                    Results
                </a>
            </li>

        </ul>

    </div>

</div>