<div class="sidebar">

    <div class="logo">

        <i class="fas fa-graduation-cap"></i>

        <span>EduTrack ERP</span>

    </div>

    <ul class="menu">

        <li>
            <a href="/">
                <i class="fas fa-home"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-school"></i>
                Schools
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-user-graduate"></i>
                Students
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-chalkboard-teacher"></i>
                Teachers
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-book-open"></i>
                Academics
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-money-check-alt"></i>
                Finance
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-chart-line"></i>
                Results
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-file-alt"></i>
                Reports
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                Settings
            </a>
        </li>

    </ul>

</div>