<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">

    <div class="container-fluid">

        <h4 class="text-white mb-0">

            Dashboard

        </h4>

        <div class="ms-auto d-flex align-items-center">

            <i class="fas fa-bell text-white me-4"></i>

            <span class="text-white">

                Welcome,

                <strong>{{ request.user.username }}</strong>

            </span>

        </div>

    </div>

</nav>