{% extends "layouts/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">

Dashboard

</h2>

<div class="row">

    <div class="col-lg-3 mb-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Students</h6>

                <h2>{{ student_count }}</h2>

            </div>

        </div>

    </div>

    <div class="col-lg-3 mb-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Teachers</h6>

                <h2>{{ teacher_count }}</h2>

            </div>

        </div>

    </div>

    <div class="col-lg-3 mb-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Invoices</h6>

                <h2>{{ invoice_count }}</h2>

            </div>

        </div>

    </div>

    <div class="col-lg-3 mb-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Results</h6>

                <h2>{{ result_count }}</h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}